            <a name="table2"></a>
            <h4> 详细信息 </h4>
            <table id="table_001" cellspacing="0">
                <tr>
                    <td id="tb_2_td_1"> 数据库名 </td>
                    <td id="tb_2_td_1"> tbl_chargingorder(行) </td>
                    <td id="tb_2_td_1"> tbl_chargingrecord(行) </td>
                    <td id="tb_2_td_1"> tbl_purchasehistory(行) </td>
                    <td id="tb_2_td_1"> 数据大小(G) </td>
                    <td id="tb_2_td_1"> 索引大小(G) </td>
                    <td id="tb_2_td_1"> 最近一笔订单 </td>
                </tr>
                <tr>
                    <td id="tb_2_td_1"> zk3 </td>
                    <td id="tb_2_td_1"> {{ zk3_info[0] }} </td>
                    <td id="tb_2_td_1"> {{ zk3_info[1] }} </td>
                    <td id="tb_2_td_1"> {{ zk3_info[2] }} </td>
                    <td id="tb_2_td_1"> {{ zk3_info[3] }} </td>
                    <td id="tb_2_td_1"> {{ zk3_info[4] }} </td>
                    <td id="tb_2_td_1"> {{ zk3_info[5] }} </td>
                </tr>

                <tr>
                    <td id="tb_2_td_1"> RDS_m </td>
                    <td id="tb_2_td_1"> {{ rdsm_info[0] }} </td>
                    <td id="tb_2_td_1"> {{ rdsm_info[1] }} </td>
                    <td id="tb_2_td_1"> {{ rdsm_info[2] }} </td>
                    <td id="tb_2_td_1"> {{ rdsm_info[3] }} </td>
                    <td id="tb_2_td_1"> {{ rdsm_info[4] }} </td>
                    <td id="tb_2_td_1"> {{ rdsm_info[5] }} </td>
                </tr>

                <tr>
                    <td id="tb_2_td_1"> RDS_s </td>
                    <td id="tb_2_td_1"> {{ rdss_info[0] }} </td>
                    <td id="tb_2_td_1"> {{ rdss_info[1] }} </td>
                    <td id="tb_2_td_1"> {{ rdss_info[2] }} </td>
                    <td id="tb_2_td_1"> {{ rdss_info[3] }} </td>
                    <td id="tb_2_td_1"> {{ rdss_info[4] }} </td>
                    <td id="tb_2_td_1"> {{ rdss_info[5] }} </td>
                </tr>

            </table>
